<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100;0,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo-search">
        <div class="logo">
          <a href="/">
            <img src="images\logo-mercado-liebre.svg" />
          </a>
        </div>
        <div>
          <input
            class="search"
            type="text"
            placeholder="Buscar productos, marcas"
          />
          <i class="fa-solid fa-magnifying-glass glass"></i>
        </div>
      </div>
      <div class="header-info">
        <p class="pay">
          <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
          tarjeta de crédito
        </p>
        <div class="burger"><i class="fa-solid fa-bars"></i></div>
      </div>
      <div class="menu">
        <div class="site">
          <ul>
            <li><a>Ofertas</a></li>
            <li><a>Tiendas Oficiales</a></li>
            <li><a>Vender</a></li>
            <li><a>Ayuda</a></li>
          </ul>
        </div>
        <div class="login">
          <ul>
            <li>
              <a href="/register">Creá tu cuenta</a>
              <i class="fa-regular fa-id-card"></i>
            </li>
            <li>
              <a href="/login">Ingresá</a>
              <i class="fa-solid fa-right-to-bracket"></i>
            </li>
            <li>
              <a>Mis compra</a> <i class="fa-solid fa-basket-shopping"></i>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="register-main">
      <div>
        <form class="register" action="/" method="get">
          <div class="body-a">
            <div>
              <label for="name"></label>
              <input
                type="text"
                name="name"
                id="name"
                minlength="2"
                placeholder="Nombre y apellido"
              />
            </div>
            <div>
              <label for="id"></label>
              <input
                type="text"
                name="id"
                id="id"
                minlength="2"
                placeholder="Nombre de usuario"
              />
            </div>
            <h3>Fecha de Nacimiento</h3>
            <div>
              <label for="birthday"></label>
              <input type="date" name="birthday" id="birthday" />
            </div>
            <div>
              <label for="address"></label>
              <input
                type="text"
                name="address"
                id="address"
                placeholder="Domicilio"
              />
            </div>
            <h3>Perfil del usuario</h3>
            <div class="profile">
              <label for="profile"></label>
              <input type="radio" name="profile" value="Vender" />Vender
              <input type="radio" name="profile" value="Comprar" />Comprar
            </div>
          </div>
          <div class="body-b">
            <h3>Categorías de interes</h3>
            <div class="categories">
              <label for="categories"></label>
              <label>
                <input type="checkbox" name="categories" value="Electro" />
                <span>Electro</span>
              </label>
              <label>
                <input type="checkbox" name="categories" value="Moda" />
                <span>Moda</span>
              </label>
              <label>
                <input type="checkbox" name="categories" value="Hogar" />
                <span>Hogar</span>
              </label>
              <label>
                <input type="checkbox" name="categories" value="Juguetería" />
                <span>Juguetería</span>
              </label>
              <label>
                <input type="checkbox" name="categories" value="Vida Sana" />
                <span>Vida sana</span>
              </label>
            </div>
            <h3>Foto de usuario</h3>
            <div><label for="picture"></label> <input type="file" /></div>
          </div>
          <div class="body-c">
            <div>
              <label for="password"></label>
              <input
                type="password"
                name="password"
                id="password"
                minlength="8"
                placeholder="Contraseña"
              />
            </div>
            <div>
              <label for="password"></label>
              <input
                type="password"
                name="password"
                id="password"
                minlength="8"
                placeholder="Repetir contraseña"
              />
            </div>
            </div>
            <button class="submit" type="submit">Enviar</button>

            <button class="reset" type="reset">Limpiar</button>
          </div>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <ul class="footer">
        <li>
          <div><i class="fa-solid fa-credit-card icons"></i></div>
          <h2 class="footer-h2">Pagá con tarjeta o en efectivo</h2>
          <p class="footer-p">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </li>
        <li>
          <div><i class="fa-solid fa-gift icons"></i></div>
          <h2 class="footer-h2">Envío gratis desde $ 2.500</h2>
          <p class="footer-p">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </li>
        <li>
          <div><i class="fa-solid fa-user-shield icons"></i></div>
          <h2 class="footer-h2">Seguridad, de principio a fin</h2>
          <p class="footer-p">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </li>
      </ul>
      <p class="copyright">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
