* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
}

h2{
    font-size: 24px;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #EAC926;
    width: 100%;
}

.logo-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo, .search{
    width: 120px;
}

.glass{
    background-color: #ebebeb;
    padding: 3px;
    border-radius: 3px;
    border: solid black 0.5px;
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    padding: 10px;
    width: 100%;
}

.menu{
    display: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

ul{
    list-style: none;
}

.burger{
    color: white;
    background-color: #1259c3;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 35px;
    margin-top: 8px;
}

.banner{
    width: 100%;
}

.home-main{
    background-color: #ebebeb;
    padding-bottom: 15px;
}

.products-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.product-pic{
    width: 100%;
    border-bottom: solid #ebebeb 1px;
}

.titles{
    text-align: center;
    margin: 10px;
}

.last-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

article{
    width: 80%;
    border: solid #ebebeb 1px;
    margin: 10px;
    padding: 15px;
    background-color: white;
}

.truck{
    border: solid #39b54a 1px;
    color: #39b54a;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    left: 85%;
    bottom: 15px;
    transition: rotate, 1s;
}

.truck:hover{
    rotate: -90deg;
}

.price{
    font-size: 18px;
    flex-grow: 0.3;
    margin: 3% 0%;
}

.discount{
    color: #39b54a;
    font-size: 16px;
    flex-grow: 0.7;
    margin: 3% 0%;
}

.products-list .description {
    display: none;
    font-size: 16px;
}

.pricebox {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.footer-h2{
    font-size: 18px;
    padding: 5px;
}

.footer-p{
    font-size: 15px;
    padding: 5px;
}

.icons{
    color: #1259c3;
    font-size: 25px;
    padding: 5px;
}

.copyright{
    padding: 15px;
}

@media screen and (min-width: 361px) {
    .burger{
        display: none;
    }

    .logo-search{
        display: flex;
        justify-content: space-between;
    }

    .logo, .search{
        width: 150px;
    }

    .menu{
        display: flex;
        justify-content: space-between;
    }

    li{
        margin: 10px 20px;
    }

    .header-info{
        height: 0px;
    }

    .products-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    article{
        width: 40%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .products-list .description{
        display: block;
    }

    .site{
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 769px){
    .burger{
        display: none;
    }

    .logo-search{
    display: flex;
    justify-content: space-between;
    }

    .logo, .search{
        width: 150px;
    }

    .pay{
        position: relative;
        bottom: 50px;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -15px;
    }

    .menu ul{
        display: flex;
    }

    li{
        margin: 10px 20px;
    }

    .header-info{
        height: 0px;
    }

    .products-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    article{
        width: 20%;
        box-shadow: 0px 0px 10px white;
    }

    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
        
    .products-list .description{
        display: none;
    }

    article:hover .description {
        display: block;
    }
    
    .site{
        display: flex;
        justify-content: space-around;
    }

    .footer{
        display: flex;
        height: 180px;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }
    
    .footer-h2{
        font-size: 18px;
        padding: 5px;
    }
    
    .footer-p{
        font-size: 15px;
        padding: 5px;
    }
    
    .icons{
        color: #1259c3;
        font-size: 25px;
        padding: 5px;
    }
    
}

.login-main{
    background-color: #ebebeb;
}

.login-form{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
}

.namebox{
    padding-top: 20px;
    padding-bottom: 10px;
}

.passbox{
    padding-bottom: 10px;
}

.button{
    margin-bottom: 20px;
    height: 30px;
    width: 60%;
    border: none;
    color: white;
    background-color: #1259c3;
}

input{
    width: 60%;
    height: 30px;
    border: none;
    flex: 1;
}

input::placeholder{
    padding-left: 10px;
}

.button:hover{
    background-color: #0022AA;
}